body{
    margin: 0;
    background-color: #FFCDEA;
}

.home{
    color: white !important;
}
.nvb{
    background-color: #86469C;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.intro{
    background-color: #FFCDEA;
}
div.intro img{
    width: 300px;
    height: 300px;
    border: solid 3px black;
    border-radius: 150px;
    padding: 5px;
    background-color: white;
}
div.profile img{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 25px;
    padding: 2px;
}
div.about img{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   border: 2px solid black;
   border-radius: 10px;
   padding: 2px;
   background-color: white;

}
.about{
    align-items: center;
}
.icons i {
    color: #86469C;
    margin: 5px;
  font-size: 30px;
  width: 30px;
  height: 30px;
}
.icons i:hover {
  color: blue;
}
div.card{
    background-color:#86469C;

};

